@import "tailwindcss";

@keyframes shaking {
  0% {
    transform: skewY(-5deg);
  }

  5% {
    transform: skewY(5deg);
  }

  10% {
    transform: skewY(-5deg);
  }

  15% {
    transform: skewY(5deg);
  }

  20% {
    transform: skewY(-5deg);
  }

  25% {
    transform: skewY(5deg);
  }

  30% {
    transform: skewY(0deg);
  }
  

  100% {
    transform: skewY(0deg);
  }
}